/* Global Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*background: #141a21;*/
    background: #182533;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}